{% extends "layout.html" %}
{% block headers %}
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="/static/scripts/sockets.js"></script>
{% endblock %}
{% block content %}

<main class="max-w-md mx-auto px-2">
<div id="turn" class="w-full text-xl h-12 my-8 rounded-full bg-orange-400 text-center">
  Play With Others
</div>

<div id="box" class="aspect-square content-center text-center text-4xl grid grid-cols-3 border-2 border-orange-500 bg-gray-200">
  {% for n in range(9) %}
  <div id="{{ n }}" class="grid content-center aspect-square border-2 border-orange-500"></div>
  {% endfor %}
</div>
</main>


<script>

let char = 'X';
const box = document.getElementById("box");
const board = Array(9).fill(null);

box.onclick = (e) => {
  if (e.target.innerText) return;
  board[e.target.id] = e.target.innerText = char;
  char = char === 'X'? 'O': 'X';
  const winner = calculateWinner(board);
  if (winner) box.innerHTML = `<div>gg</div><div>Winner is ${winner}</div><div>ez</div>`;
  else if (board.find((v) => v == null) === undefined) box.innerHTML = "DRAW";
 }

function calculateWinner(squares) {
  const lines = [
    [0, 1, 2],
    [3, 4, 5],
    [6, 7, 8],
    [0, 3, 6],
    [1, 4, 7],
    [2, 5, 8],
    [0, 4, 8],
    [2, 4, 6],
  ];
  for (let i = 0; i < lines.length; i++) {
    const [a, b, c] = lines[i];
    if (squares[a] && squares[a] === squares[b] && squares[a] === squares[c]) {
      return squares[a];
    }
  }
  return null;
}

</script>


{% endblock %}
