{% extends "layout.html" %}
{% block headers %}
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
        const roomId = "{{ room_id }}";
        const socket = io(`/?room=${roomId}`);
    </script>
    
{% endblock %}
{% block content %}

<main class="max-w-md mx-auto px-2">
<div id="turn" class="w-full text-xl h-12 my-8 rounded-full bg-orange-400 text-center">
  Play With Others
</div>

<div id="box" class="aspect-square content-center text-center text-4xl grid grid-cols-3 border-2 border-orange-500 bg-gray-200">
  {% for n in range(9) %}
  <div id="{{ n }}" class="grid content-center aspect-square border-2 border-orange-500"></div>
  {% endfor %}
</div>
<script src="/static/scripts/sockets.js"></script>
</main>
{% endblock %}